<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sej.firstboard.mapper.BoardMapper">
    <select id="boardCount" resultType="int">
        SELECT COUNT(*) FROM board
    </select>

    <select id="boardList" resultType="com.sej.firstboard.model.BoardDTO">
        SELECT * FROM board
    </select>

    <select id="boardDetail" parameterType="int" resultType="com.sej.firstboard.model.BoardDTO">
        SELECT * FROM board WHERE BNO = #{bno}
    </select>

    <select id="fileDetail" parameterType="int" resultType="com.sej.firstboard.model.FileDTO">
        SELECT * FROM files WHERE BNO = #{bno}
    </select>

    <insert id="boardInsert" parameterType="com.sej.firstboard.model.BoardDTO" useGeneratedKeys="true" keyProperty="bno">
        INSERT INTO board (BNO, SUBJECT, CONTENT, WRITER, REG_DATE, VIEW) 
        VALUES(#{bno}, #{subject}, #{content}, #{writer}, now(), 0)
    </insert>

    <insert id="fileInsert" parameterType="com.sej.firstboard.model.FileDTO">
        INSERT INTO files (FNO, BNO, FILENAME, FILEORINAME, FILEURL) VALUES (#{fno}, #{bno}, #{fileName}, #{fileOriName}, #{fileUrl})
    </insert>

    <update id="boardUpdate" parameterType="com.sej.firstboard.model.BoardDTO">
        UPDATE board SET 
            <if test="subject != null">
                SUBJECT = #{subject}
            </if>
            <if test="subject != null and content != null"> , </if>
            <if test="content != null">
                CONTENT = #{content}
            </if>
            WHERE BNO = #{bno}
    </update>

    <update id="fileUpdate" parameterType="int">
        update files SET 
           fileName=${fileNmae}, 
           fileOriName=#{fileOriName}, 
           fileurl=#{fileurl}
        where fno=#{fno}
    </update>

    <delete id="boardDelete" parameterType="int">
        DELETE FROM board WHERE BNO = #{bno} 
    </delete>

    <delete id="fileDelete" parameterType="int">
        DELETE FROM files WHERE BNO = #{bno} 
    </delete>

    <update id="updateView" parameterType="int">
        update board set view = view + 1 where bno = #{bno}
    </update>

    <sql id="criteria">
        <where>
            <trim prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                            <when test="type == 'S'.toString() ">
                                subject like '%' #{keyword} '%'
                            </when>
                            <when test="type == 'C'.toString() ">
                                content like '%' #{keyword} '%'
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim> 
        </where>
    </sql>
    
    <select id="getListWithPaging" resultType="com.sej.firstboard.model.BoardDTO">
            select bno, fno, subject, content, writer, reg_date, view
            from (
                select @rownum := @rownum +1 as rnum, bno, fno, subject, content, writer, reg_date, view from 
                (select board.bno, fno, subject, content, writer, reg_date, view from board left join files on board.bno = files.bno) B, 
                (select @rownum :=0) A
                <include refid="criteria"></include>
                order by bno desc
            ) result
            where rnum > (#{pageNum } - 1) * #{amount}
            limit #{amount}
    </select>

    
    <select id="getTotalCount" resultType="int">
        select count(*) from board
        <where>
            <trim prefix="and" prefixOverrides="where">
                <include refid="criteria"></include>
            </trim>
        </where>
    </select>

</mapper>
