<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sej.firstboard.mapper.CommentMapper">
    <select id="commentCount" resultType="int">
        SELECT COUNT(*) FROM COMMENT
    </select>

    <select id="commentList" resultType="com.sej.firstboard.model.CommentDTO">
        SELECT * FROM COMMENT WHERE BNO = #{bno}
    </select>

    <insert id="commentInsert" parameterType="com.sej.firstboard.model.CommentDTO">
        INSERT INTO COMMENT (CNO, BNO, CONTENT, REG_DATE)
        VALUES(#{cno}, #{bno}, #{content}, now())
    </insert>

    <update id="commentUpdate" parameterType="com.sej.firstboard.model.CommentDTO">
        UPDATE COMMENT SET CONTENT = #{content} WHERE CNO = #{cno} 
    </update>

    <delete id="commentDelete" parameterType="int" >
        DELETE FROM COMMENT WHERE CNO = #{cno} 
    </delete>

    <delete id="commentsDelete" parameterType="int">
        DELETE FROM COMMENT WHERE BNO = #{bno} 
    </delete>
</mapper>